{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <header>
      <div class="navbar-container">
        <nav>
          {% if user.is_authenticated %}
          <div class="navbar-welcome">
            <p class="name">
              Welcome, <br />
              {{user}}
            </p>
          </div>
          <div class="navbar-top">
            <a class="nav-link" href="{% url 'show_my_tasks' %}">My Tasks</a>
            <a class="nav-link" href="{% url 'list_projects' %}">My Projects</a>
          </div>
          <div class="navbar-bottom">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          </div>
          {% else %}
          <div class="navbar-unauth">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
            <a class="nav-link" href="{% url 'signup' %}">Signup</a>
          </div>
          {% endif %}
        </nav>
      </div>
    </header>
    {% block content %}{% endblock content %}
  </body>
</html>
